$color-hill--brown: #514643;
$color-hill--beige: #c5ac99;
$color-hill--blue: #001f3f;

$color-house--1: #813f3f;
$color-house-roof--1:#000000;

$color-house--2:#b9c79a;
$color-house-roof--2:#000000;

$color-house--3:#778ca9;
$color-house-roof--3:#000000;



$border-radius: 2rem;

$backgroundcolor: lightblue;